* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: rgb(6, 154, 110);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}
