*{
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */

}

.title_home {
    color: olive;
    text-align: center;
  }
  
 

  .homePageBg {
    background: url('../images/homeBg_2.jpg') no-repeat center center; /* Centers the image */
    background-size: cover; /* Covers the entire div */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    height: 100vh; /* Use 100vh to cover the full viewport height */
    width: 99vw; /* Use 100vw to cover the full viewport width */
    display: flex; /* Optional: if you want to center the content */
    justify-content: center; /* Optional: center horizontally */
    align-items: center; /* Optional: center vertically */
    color: white; /* Change text color for contrast */
    overflow: hidden; /* Prevents any overflow if needed */
}
