*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.title_home {
    color: olive;
    text-align: center;
  }
  
  .home_Bg {
    background-image: url('../images/home_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
  }