* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.makerBg {
  background: url('../../images/makerBck.jpg') no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.maker_title {
  text-align: center;
  color: black;
  text-align: justify;
  text-align: center;
}

.tr {
  text-align: center;
}

.tbInfo {
  text-align: center;
  margin-top: 155%;
  opacity: 0.8;
}

.heading {
  color: olive;
  text-align: center;
  margin-top: 60px;
}

.form {
  text-align: center;
  padding-left: 50px;
  margin-top: 25px;
}
