 * {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #808080;
  background-image: url('../../images/home_img.jpg') ;
}

.title {
  text-align: center;
  color: black;
  background-color: #bebebe;
}
.tr {
  text-align: center;
  padding-bottom: 135px;
}

.tb-info {
  text-align: center;
  margin-top: 15%;
}


.heading {
  color: olive;
  text-align: center;
  margin-top: 60px;
}

.form {
  text-align: center;
  padding-left: 50px;
  margin-top: 25px;
}


