* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.tireBg {
  background-image: url('../images/tireBg44.jpg');
  background-size: cover; /* or 'contain' depending on your design */
  background-position: center;
  padding: 20px; /* Adjust as needed */
}


.tire_title {
  color: tomato;
  text-align: justify;
  text-align: center;
}

.tire_table {
  font-weight: 800;
  color: tomato;
}

.tire_tr {
  text-align: justify;
  text-decoration: underline;
}

.tire_tbody {
  text-align: justify;
  text-decoration: underline;
}
