* {
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    /* height: 100%;
  width: 100%; */
}


.shopper_title {
    color: tomato;
    text-align: center;
    font-weight: 700;
}

.shopper_bg {
   background-image: url('../images/addTiresBg.jpg'); 
  background-size: cover;           
    background-position: center;
    background-repeat: no-repeat;    
    height: 110vh;
    background-attachment: fixed;
    width: 100vw;
  
}

.shopper_title {
  color: tomato;
  text-align: center;
  font-weight: 700;
}


.cliente_title {
  color: #ff6f00; 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* .container_cliente {
  background-color: red;
} */

.productImage {
  width: 100px; /* Adjust width as needed */
  height: auto;
  max-width: 100%;
}

/* shopper.module.css */
.container {
  background: linear-gradient(to right, #e3f2fd, #ffffff); /* Light gradient */
  min-height: 100vh; /* Ensures it takes full height */
  padding: 30px;
}

.clienteDetails {
  background-color: rgba(255, 255, 255, 0.9); /* Light, semi-transparent white background for cards */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actionButton {
  background-color: #007bff; /* Blue button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #0056b3;
}


