* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.car-title {
  color: orange;
  text-align: center;
}

.car-tr {
  color: darkgray;
}

.car-table {
  font-weight: 700;
}

.car-form {
  color: orange;
  text-align: center;
  padding-top: 3%;
}

.year {
  color: orange;
}

.carForm-table {
  margin-left: 10%;
}
