* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carTireBg {
  background-image: url('../../images/car_tire2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 92.9vh;
  /* width: 330wh; */
}

.carFormBg {
  background-image: url('../../images/tireCarBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 92.9vh;
  /* width: 100vw; */
}

.car_title {
  color: #47fff0e4;
  text-align: center;
  font-weight: 700;
}

.car_tr {
  color: darkgray;
}

.car_table {
  font-weight: 700;
  opacity: 0.9;
}

.car-form {
  color: orange;
  text-align: center;
  padding-top: 3%;
}

.year {
  color: orange;
}

.form_title {
  color: rgba(229, 244, 96, 0.82);
  text-align: center;
  font-weight: 700;
  padding-top: 50px;
}

.cars_select {
  text-align: center;
  font-size: larger;
  color: red;
}

.dropDn {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  margin-top: 65px;
}

.h3 {
  color: orange;
  margin-top: 25px;
}

.carForm_tr {
  color: rgb(170, 244, 96);
  padding: 60px;
  column-gap: 60px;
  margin-left: 512px;
  margin-top: 60px;

  font-size: 30px;
}

.th {
  color: orange;
}

.car_table {
  text-align: center;
}
