* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.modelBg {
  background-image: url('../../images/modelBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.tr {
  color: olive;
  font-size: larger;
  text-align: center;
}

.model_title {
  color: darkseagreen;
  text-align: center;
}

.model_tbody {
  color: black;
  font-size: larger;
  opacity: 0.9;
}

.model-table {
  text-align: center;
  font-weight: 500;
}

.model-form {
  color: orange;
  text-align: center;
  font-size: medium;
  padding-top: 100px;
}

.modelForm-title {
  text-align: center;
  color: olivedrab;
}
