* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.tr {
  color: darkgray;
  font-size: larger;
}

.model-title {
  color: olive;
  text-align: justify;
}

.model-tbody {
  color: black;
  font-size: larger;
}

.model-table {
  text-align: center;
  font-weight: 500;
}

.model-form {
  color: orange;
  text-align: center;
  font-size: medium;
  padding-top: 100px;
}

.modelForm-title {
  text-align: center;
  color: olivedrab;
}
