* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #808080;
}

.title_sh {
  text-align: center;
  color: rgb(199, 33, 8);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tr_sh {
  text-align: center;
  padding-bottom: 135px;
}

.tb_info_sh {
  text-align: center;
  font-size: large;
  margin-top: 15%;
}

.heading_sh {
  color: blue;
  text-align: center;
  margin-top: 60px;
}
